<v-card flex fill-height id="correlation-view">
    <v-chip> {{ message }} </v-chip>
    <!-- <b-table :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :items="to_items" :fields="fields" :tbody-tr-class="rowClass"/>
    <b-table :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :items="from_items" :fields="fields" :tbody-tr-class="rowClass"/> -->
    <!-- <b-dropdown 
        id="dropdown-1" 
        text="To/From" 
        class="m-md-3">
            <b-dropdown-item>To metrics</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item>From metrics</b-dropdown-item>
    </b-dropdown> -->
    <b-container fluid class="table-container">

    <b-table 
        id="causality-table"
        v-if="selectedCausality == 'to'"
        :sort-by.sync="sortBy" 
        :sort-desc.sync="sortDesc" 
        :items="to_items" 
        :fields="fields" 
        :responsive="responsive" />
    <b-table 
        id="causality-table"
        v-if="selectedCausality == 'from'"
        :sort-by.sync="sortBy" 
        :sort-desc.sync="sortDesc" 
        :items="from_items" 
        :fields="fields" 
        :responsive="responsive" />
    </b-container>
</v-card>