<v-app id="inspire">
  <v-toolbar
    color="blue-grey"
    dark
    fixed
    app
    clipped-right
  >
    <v-toolbar-side-icon @click.stop="left = !left"></v-toolbar-side-icon>
    <v-toolbar-title style="margin-right: 3em;">{{ appName }}</v-toolbar-title>
    <v-flex xs2 class="ma-2">
      <v-select 
        label="TimeMode"
        :items="timeDomains"
        v-model="selectedTimeDomain"
        :menu-props="{ maxHeight: '400' }"
        box
        v-on:change="visualize()"
      >
      </v-select>
    </v-flex>
    <v-flex xs2 class="ma-2">
        <v-select 
          label="Granularity"
          :items="granularity"
          v-model="selectedGran"
          :menu-props="{ maxHeight: '400' }"
          box
          v-on:change="visualize()"
        >
        </v-select>
      </v-flex>
    <v-spacer></v-spacer>
    <v-flex xs2>
      <v-select
        label="Analysis Mode"
        :items="analyses"
        v-model="selectedAnalysis"
        box
      ></v-select>
    </v-flex>

  </v-toolbar>
  <v-navigation-drawer
    v-model="left"
    temporary
    fixed
  >
  </v-navigation-drawer>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-btn slot="activator" color="primary" dark>Open Dialog</v-btn>
    <v-card>
      <v-card-title>
        <span class="headline">Server Settings</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-alert
              :value="socketError"
              color="error"
            >
              Cannot connect to server!
            </v-alert>
            <v-flex>
              <v-select
                :items="modes"
                label="App Mode"
                v-model="defaultMode"
                box
              ></v-select>
            </v-flex>
            <v-flex xs12>
              <v-text-field box label="Server Address"  v-model="server" required></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-flex justify-cente>
          <v-btn
            color="primary"
            @click="init()"
          >
          Start
          </v-btn>
        </v-flex>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-content class="pa-2">
    <v-container fluid fill-height class="pa-1">
      <v-layout justify-center align-center>
        <v-flex xs7 fill-height class="pa-2">
          <v-toolbar dense>
            <v-flex xs9 class="ma-2">
              <v-select 
                label="Metric"
                :items="metrics"
                multiple
                v-model="selectedMetrics"
                :menu-props="{ maxHeight: '400' }"
                persistent-hint
                v-on:change="visualize()"
              >
              </v-select>
            </v-flex>
            <v-flex xs2 class="ma-2">
                <v-select 
                  label="Measure"
                  :items="measures"
                  v-model="selectedMeasure"
                  v-on:change="visualize()"
                >
                </v-select>
              </v-flex>
            <v-spacer></v-spacer>
            <v-switch
              :label="`Aggr`"
              v-model="isAggregated"
              v-on:change="visualize()"
            ></v-switch>
            <v-btn icon>
              <v-icon v-on:click="reset()">refresh</v-icon>
            </v-btn>

          </v-toolbar>
          <TimeSeries ref="TimeSeries"></TimeSeries>
        </v-flex>
        <v-flex xs5 fill-height class="pa-2">
          <Communication  ref="Communication" v-bind:class="{hidden: selectedAnalysis != 'Communication'}" />
          <Dimensionality  ref="Dimensionality" class="fill-height" v-bind:class="{hidden: selectedAnalysis != 'Dimensionality'}" />
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
  <!-- <v-footer color="blue-grey" class="white--text" app> -->
    <!-- <span> VIDi Labs, University of California, Davis </span>
    <v-spacer></v-spacer>
    <span>&copy; 2018</span> -->
  <!-- </v-footer> -->
</v-app>
