<v-app id="inspire">
  <v-toolbar color="blue-grey" dark fixed app clipped-right>
    <v-toolbar-side-icon @click.stop="left = !left">
    </v-toolbar-side-icon>
    <v-toolbar-title style="margin-right: 3em;">{{ appName }}</v-toolbar-title>
    <v-flex xs2 class="ma-2">
      <v-select label="TimeMode" :items="timeDomains" v-model="selectedTimeDomain" :menu-props="{ maxHeight: '400' }"
        box v-on:change="updateTimeMode()">
      </v-select>
    </v-flex>
    <v-flex xs2 class="ma-2">
      <v-select label="Granularity" :items="granularity" v-model="selectedGran" :menu-props="{ maxHeight: '400' }" box
        v-on:change="updateGran()">
      </v-select>
    </v-flex>
    <v-spacer></v-spacer>
    <v-flex xs2>
      <v-select label="Analysis Mode" :items="analysis" v-model="selectedAnalysis" box :menu-props="{ maxHeight: '400' }"
      v-on:change="updateAnalysis()"></v-select>
    </v-flex>
  </v-toolbar>

  <v-navigation-drawer v-model="left" temporary fixed>
      <v-btn slot="activator" color="primary" dark>Open Dialog</v-btn>
  </v-navigation-drawer>

  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">Server Settings</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-alert :value="socketError" color="error">
              Cannot connect to server!
            </v-alert>
            <v-flex>
              <v-select :items="modes" label="App Mode" v-model="selectedMode" box></v-select>
            </v-flex>
            <v-flex xs12>
              <v-text-field box label="Server Address" v-model="server" required></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-flex justify-cente>
          <v-btn color="primary" @click="init()">
            Start
          </v-btn>
        </v-flex>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-content class="pt-auto" fill-height id="dashboard">
    <v-flex>
        <Dashboard1 ref="Dashboard1" />
        <!--Dashboard2 ref="Dashboard2" v-bind:class="{hidden: selectedAnalysis != 'Case_study-1'}"/-->
    </v-flex>
   
  </v-content>
  <!-- <v-footer color="blue-grey" class="white--text" app> -->
  <!-- <span> VIDi Labs, University of California, Davis </span>  
          <v-spacer></v-spacer>
          <span>&copy; 2018</span> -->
  <!-- </v-footer> -->
</v-app>